.container {
  display: flex;
  font-family: "Happiness-Sans-Title";
  align-items: center;
  font-size: 1rem;
  color: #251b46;
  width: 10vw;
  cursor: pointer;
}

.arrow {
  margin: 0;
  width: 0.8vw;
  height: 0.8vw;
  border: 0px;
  border-top: 0.3vw solid #332563;
  border-right: 0.3vw solid #332563;
  border-top-left-radius: 25%;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 25%;
  transform: rotate(225deg);
}

.right {
  transform: rotate(45deg);
}
