.displayNone {
  display: none;
}

.book {
  position: relative;
  display: block;
  width: 20vw;
  height: 28vw;
  margin: auto;
  border-radius: 2% 3% 3% 2%;
  box-shadow: 0.52vw 0.52vw 0.52vw 0px rgba(121, 121, 121, 0.2);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 1s;
  -webkit-transform: rotate3d(0, 1, 0, 60deg);
  -moz-transform: rotate3d(0, 1, 0, 60deg);
  transform: rotate3d(0, 1, 0, 60deg);
}

.book:hover {
  /* transform: rotate3d(0, 1, 0, 45deg) translateY(-5.2083vw); */
  transform: translateY(-8vw);
}

.book > div,
.front > div {
  display: block;
  position: absolute;
}

.front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 2vw);
  -moz-transform: translate3d(0, 0, 2vw);
  transform: translate3d(0, 0, 2vw);
  z-index: 10;
}

.front > div {
  border-radius: 0 2% 2% 0;
  width: 20vw;
  height: 28vw;
}

.cover {
  background-color: #1f163c;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.cover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.5vw;
  bottom: 0;
  width: 2px;
  background: rgba(56, 56, 56, 0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.coverBox {
  border: 5px solid #3e2c4e;
  width: 14vw;
  height: 22.4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover > span {
  position: absolute;
  transform: rotate(-90deg);
  font-family: "worldBold";
  font-size: 2.2vw;
  letter-spacing: 1vw;
  color: #c5b4cf;
}

.cover span:first-child {
  top: 8vw;
  left: -3.8vw;
}

.cover span:last-child {
  top: 4vw;
  left: 5vw;
  font-size: 1.2vw;
  letter-spacing: 0.8vw;
  border-top: solid 4px #6e6012;
  padding: 0.8vw 0 0 0.8vw;
}

.leftSide {
  width: 4vw;
  left: -2vw;
  /* left: -3vw; */
  height: 28vw;
  background-color: #1f163c;
  /* background-color: #6e6012; */
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  -moz-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
  color: #c5b4cf;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.leftSide > div {
  display: flex;
  width: 28vw;
  height: 4vw;
  transform-origin: 0 0;
  transform: rotate(90deg) translateY(-4vw);
  justify-content: space-around;
  align-items: center;
}

.leftSide span:first-child {
  font-size: 1.2vw;
  font-family: "worldBold";
  letter-spacing: 0.1vw;
}

.leftSide span:last-child {
  font-size: 0.8vw;
  font-family: "dotumMedium";
  letter-spacing: 0.1vw;
}
