.displayNone {
  display: none;
}

.arrow {
  position: absolute;
  top: 500px;
  /* top: -2vh;
  left: -35vw; */
}

.book {
  position: absolute;
  width: 20vw;
  height: 28vw;
  border-radius: 2% 3% 3% 2%;
  /* box-shadow: 0.52vw 0.52vw 0.52vw 0px rgba(121, 121, 121, 0.2); */
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 1s;
  -webkit-transform: rotate3d(0, 1, 0, 60deg);
  -moz-transform: rotate3d(0, 1, 0, 60deg);
  transform: rotate3d(0, 1, 0, 60deg);
  cursor: pointer;
}

.book:hover {
  /* transform: rotate3d(0, 1, 0, 60deg) translateY(-5.2083vw); */
  transform: translateY(-6vw);
}

.book > div,
.contents > div,
.flipBasePage > div,
.pages > div {
  position: absolute;
}

.contents {
  display: flex;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 2vw);
  -moz-transform: translate3d(0, 0, 2vw);
  transform: translate3d(0, 0, 2vw);
  z-index: 10;
}

.contents > div,
.flipBasePage > div,
.pages > div {
  border-radius: 0 2% 2% 0;
}

.cover {
  width: 20vw;
  height: 28vw;
  background-color: #1f163c;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.coverRotate {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  backface-visibility: hidden;
  animation: flipBook 3s forwards;
}

.cover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.5vw;
  bottom: 0;
  width: 2px;
  background: rgba(56, 56, 56, 0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.cover > span {
  position: absolute;
  transform: rotate(-90deg);
  font-family: "worldBold";
  font-size: 2.2vw;
  letter-spacing: 1vw;
  color: #c5b4cf;
}

.cover span:first-child {
  top: 8vw;
  left: -3.8vw;
}

.cover span:last-child {
  top: 4vw;
  left: 5vw;
  font-size: 1.2vw;
  letter-spacing: 0.8vw;
  border-top: solid 4px #6e6012;
  padding: 0.8vw 0 0 0.8vw;
}

.coverBack {
  width: 20vw;
  height: 28vw;
  background-color: #1f163c;
  /* box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0.52vw 0.52vw 0.52vw 0px rgba(121, 121, 121, 0.2);
  z-index: 9;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  animation: flipBook 3s forwards;
}

.leftSide {
  width: 4vw;
  left: -1.9vw;
  /* left: -3vw; */
  height: 28vw;
  background-color: #1f163c;
  /* background-color: #6e6012; */
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  -moz-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
  color: #c5b4cf;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.leftSide > div {
  display: flex;
  width: 28vw;
  height: 4vw;
  transform-origin: 0 0;
  transform: rotate(90deg) translateY(-4vw);
  justify-content: space-around;
  align-items: center;
}

.leftSide span:first-child {
  font-size: 1.2vw;
  font-family: "worldBold";
  letter-spacing: 0.1vw;
}

.leftSide span:last-child {
  font-size: 0.8vw;
  font-family: "DotumLight";
  letter-spacing: 0.1vw;
}

.slide {
  /* transition: transform 4s;
  transform: translateY(100vw); */
}

.choose {
  pointer-events: none;
  position: relative;
  transition: transform 2s;
  transform: scale(1.4);
  transform: translateY(-6vw);
  transform: translateX(150%);
}

.sideBack {
  z-index: -1;
  width: 3vw;
  height: 28vw;
  background: linear-gradient(
    to right,
    #1f163c 0%,
    #3d3852 45%,
    #3d3852 55%,
    #1f163c 100%
  );
  overflow: hidden;
  border-radius: 0;
}

.sideCircle {
  position: absolute;
  width: 3vw;
  height: 0.6vw;
  border-radius: 50%;
}

.sideCircleUp {
  top: -0.1vw;
  background: linear-gradient(
    to right,
    #1f163c 0%,
    #3d3852 40%,
    /* #3d3852 55%, */ #1f163c 100%
  );
}

.sideCircleDown {
  background-color: #d1c2f2;
  bottom: -0.3vw;
  /* box-shadow: inset 0.05vw 0.05vw 0.1vw 0px rgba(144, 137, 137, 0.2); */
}

.back {
  z-index: -1;
  left: 3vw;
  border-radius: 0 2% 2% 0;
  /* width: 20vw; */
  height: 28vw;
  background-color: #1f163c;
  box-shadow: 0.52vw 0.52vw 0.52vw 0px rgba(121, 121, 121, 0.2);
  animation: openBook 2s forwards;
}

.flipBasePage {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 0 2% 2% 0;
  /* top: 0.7vw; */
  top: 1vw;
  /* top: calc((28vw * 0.9 - 28vw) * -1 / 2); */
}

.flipBasePage:last-child {
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.flipBasePageOpen {
  animation: openBasePage 3s forwards;
}

.basePage {
  transform-origin: 0% 50%;
  animation: flipBookPage 3s 0.6s forwards;
  left: 1.5vw;
  width: calc(20vw * 0.9);
  height: calc(28vw * 0.9);
  background-color: white;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
}

.basePage0 {
  animation: flipBook 2.4s 0.6s forwards;
  background-color: #f7f7f7;
  left: 1.2vw;
  top: 0.05vw;
  width: calc(20vw * 0.9 + 0.2vw);
}

.basePage0Light {
  left: 1.8vw;
}

.basePage1 {
  animation: flipBook 2.6s 0.4s forwards;
  background-color: #eee;
  left: 1vw;
  top: 0.1vw;
  width: calc(20vw * 0.9 + 0.4vw);
}

.basePage1Light {
  left: 2.1vw;
}

.basePage2 {
  animation: flipBook 2.7s 0.3s forwards;
  background-color: #e6e6e6;
  left: 0.75vw;
  top: 0.15vw;
  width: calc(20vw * 0.9 + 0.6vw);
}

.basePage2Light {
  left: 2.4vw;
}

.basePage3 {
  animation: flipBook 2.8s 0.2s forwards;
  background-color: #ddd;
  left: 0.5vw;
  top: 0.2vw;
  width: calc(20vw * 0.9 + 0.8vw);
}

.basePage3Light {
  left: 2.7vw;
}

.basePage4 {
  animation: flipBook 2.9s 0.1s forwards;
  background-color: #d5d5d5;
  left: 0.25vw;
  top: 0.25vw;
  width: calc(20vw * 0.9 + 1vw);
}

.aniNone {
  animation: none;
}

.pages {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 1vw;
  left: 1.5vw;
  /* z-index: 9; */
  width: calc(20vw * 0.9);
  height: calc(28vw * 0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.pages > div {
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.closeCover {
  animation: closeBookLeft 3s forwards;
}

.closePageLeft {
  animation: closeBookLeftPage 3s forwards;
}

.closeCoverBack {
  animation: closeCover 3s forwards;
}

.closePageRight {
  animation: closeBasePage 3s forwards;
}

.closeLeftSide {
  animation: closeLeftSide 3s forwards;
}

.mainPage {
  animation: mainPage 3s forwards;
}

@keyframes flipBook {
  /* 책 열릴때 앞 표지 + 왼쪽 베이스 페이지  */
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-170deg);
  }
}

@keyframes flipBookPage {
  /* 책 열릴때 왼쪽 첫 베이스 페이지  */
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-160deg);
  }
}

@keyframes openBook {
  /* 책 열릴때 뒷 표지 */
  from {
    width: 17vw;
  }
  to {
    width: 20vw;
  }
}

@keyframes openBasePage {
  /* 책 열릴때 오른쪽 베이스 페이지 */
  from {
    left: -1.5vw;
  }
  to {
    left: 0vw;
  }
}

@keyframes closeBookLeft {
  /* 책 닫힐때 앞 표지 뒷면 + 오른쪽 베이스 페이지 */
  from {
    transform: rotateY(-170deg);
    box-shadow: none;
  }

  /* 
  70% {
    transform: rotateY(-30deg);
  } */

  to {
    transform: rotateY(0deg);
    box-shadow: none;
  }
}

@keyframes closeBookLeftPage {
  /* 책 닫힐때 왼쪽 첫 베이스 페이지  */
  from {
    transform: rotateY(-160deg);
  }

  /* 70% {
    transform: rotateY(-30deg);
  } */

  to {
    transform: rotateY(0);
  }
}

@keyframes closeCover {
  /* 책 닫힐때 뒷 표지  */
  from {
    width: 20vw;
    left: 3vw;
    transform: none;
  }
  to {
    width: 20vw;
    left: 0vw;
    transform: translateZ(-4vw);
  }
}

@keyframes closeBasePage {
  /* 책 닫힐때 오른쪽 베이스 페이지 */
  from {
    left: 0vw;
    transform: translateY(0);
  }
  to {
    left: -1.8vw;
    transform: translateY(1.5vw);
  }
}

@keyframes closeLeftSide {
  /* 책 닫힐때 옆 부분 뒷면 */
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(90deg) translateZ(-1.5vw) translateY(0.6vw);
  }
}

@keyframes closeCoverBackShadow {
  /* 책 닫힐때 앞 표지 뒷면 */
  from {
    box-shadow: 0.52vw 0.52vw 0.52vw 0px rgb(121 121 121 / 20%);
  }
  to {
    box-shadow: none;
  }
}

@keyframes mainPage {
  /* 책 닫힐때 오른쪽 메인 페이지 */
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1.5vw);
  }
}
