.container {
  left: calc(35% + 0.4vw);
}

.cover {
  background-color: #4e3894;
}

.leftSide {
  background-color: #4e3894;
}

.cover span:first-child {
  top: 6vw;
  left: -1.4vw;
}

.cover span:last-child {
  border-top: solid 4px #988415;
}
