.container {
  left: calc(0% - 1vw);
}

/*********** 0페이지 **********/
.page0 {
  cursor: default;
  width: 100%;
  height: 100%;
  padding: 25% 20% 0 15%;
}

.page0 > img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  margin-bottom: 10%;
  border: 2px #1f163c solid;
}

.page0 > p:nth-child(2) {
  font-size: 12px;
  margin-bottom: 15%;
}

.page0 > p:nth-child(2) > span {
  display: block;
  margin-bottom: 2%;
}

.page0 p:nth-child(3) > a,
.page0 p:nth-child(4) > a {
  font-size: 10px;
  display: flex;
  margin-bottom: 5%;
  text-decoration: none;
  color: black;
}

.page0 p:nth-child(3) > a > span,
.page0 p:nth-child(4) > a > span {
  margin-left: 3%;
}

/*********** 1페이지 **********/
.page1 {
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Tenada";
}

.bookTitle {
  position: absolute;
  top: 5%;
  font-family: "worldBold";
  font-size: 0.8rem;
  color: rgb(212, 158, 43);
  opacity: 0.8;
}

.page1 p:nth-child(2) {
  margin-top: 10%;
  font-size: 1.5vw;
}

.page1 p:nth-child(3) {
  margin: 5% auto 10% auto;
  font-size: 3.5vw;
  position: relative;
  background-repeat: no-repeat;
}

.page1 p:nth-child(4) {
  text-align: right;
  font-size: 1.8vw;
}

.underLineBasic {
  /* 책 처음 펼칠때 */
  animation: test 1.5s 1.5s ease-out forwards;
}

.underLineHold {
  /* 1페이지->2페이지로 이동할때 */
  background-image: linear-gradient(rgb(255, 212, 125), rgb(255, 212, 125));
  background-size: 100% 30%;
  background-position: 0% 80%;
}

@keyframes mainTitle {
  0% {
    background-image: linear-gradient(rgb(255, 248, 234), rgb(255, 248, 234));

    background-size: 100% 10%;
    background-position: 100% 0%;
  }
  50% {
    background-size: 100% 10%;
    background-position: 50% 50%;
  }
  100% {
    background-image: linear-gradient(
      rgb(235, 209, 188) 3%,
      rgb(255, 248, 234) 3%,
      rgb(255, 248, 234) 97%,
      rgb(235, 209, 188) 97%
    );
    background-size: 100% 100%;
    background-position: 0% 100%;
  }
}

@keyframes test {
  from {
    background-image: linear-gradient(rgb(255, 212, 125), rgb(255, 212, 125));
    background-size: 0% 30%;
    background-position: 0% 80%;
  }
  to {
    background-image: linear-gradient(rgb(255, 212, 125), rgb(255, 212, 125));
    background-size: 100% 30%;
    background-position: 0% 80%;
  }
}
