.container {
  left: calc(0% - 1vw);
}

/*********** 0페이지 **********/
.page0 {
  overflow: hidden;
  cursor: default;
  width: 100%;
  height: 100%;
  padding: 25% 20% 0 15%;
}

.page0 > img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  margin-bottom: 10%;
  border: 2px #1f163c solid;
}

.page0 > p:nth-child(2) {
  font-size: 12px;
  margin-bottom: 15%;
}

.page0 > p:nth-child(2) > span {
  display: block;
  margin-bottom: 2%;
}

.page0 p:nth-child(3) > a,
.page0 p:nth-child(4) > a {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  text-decoration: none;
  color: black;
  width: fit-content;
}

.page0 p:nth-child(3) > a > span,
.page0 p:nth-child(4) > a > span {
  margin-left: 10px;
}

/*********** 1페이지 **********/
.page1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Tenada";
}

.bookTitle {
  position: absolute;
  top: 5%;
  font-family: "worldBold";
  font-size: 0.8rem;
  color: rgb(212, 158, 43);
  opacity: 0.8;
}

.page1 p:nth-child(2) {
  margin-top: 10%;
  font-size: 1.5vw;
}

.page1 p:nth-child(3) {
  margin: 5% auto 10% auto;
  font-size: 3.5vw;
  position: relative;
  background-repeat: no-repeat;
}

.page1 p:nth-child(4) {
  text-align: right;
  font-size: 1.8vw;
}

.underLineBasic {
  /* 책 처음 펼칠때 */
  animation: test 1.5s 1.5s ease-out forwards;
}

.underLineHold {
  /* 1페이지->2페이지로 이동할때 */
  background-image: linear-gradient(rgb(255, 212, 125), rgb(255, 212, 125));
  background-size: 100% 30%;
  background-position: 0% 80%;
}

@keyframes mainTitle {
  0% {
    background-image: linear-gradient(rgb(255, 248, 234), rgb(255, 248, 234));

    background-size: 100% 10%;
    background-position: 100% 0%;
  }
  50% {
    background-size: 100% 10%;
    background-position: 50% 50%;
  }
  100% {
    background-image: linear-gradient(
      rgb(235, 209, 188) 3%,
      rgb(255, 248, 234) 3%,
      rgb(255, 248, 234) 97%,
      rgb(235, 209, 188) 97%
    );
    background-size: 100% 100%;
    background-position: 0% 100%;
  }
}

@keyframes test {
  from {
    background-image: linear-gradient(rgb(255, 212, 125), rgb(255, 212, 125));
    background-size: 0% 30%;
    background-position: 0% 80%;
  }
  to {
    background-image: linear-gradient(rgb(255, 212, 125), rgb(255, 212, 125));
    background-size: 100% 30%;
    background-position: 0% 80%;
  }
}

/*********** 2페이지 **********/
.page2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blobContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.blobAnimation {
  animation: blob 3s 6s infinite;
}

.blobContainer::before {
  content: "";
  position: absolute;
  bottom: 5%;
  right: -5%;
  height: 40%;
  width: 30%;
  background-color: #528dd9;
  clip-path: ellipse(25% 40% at 50% 50%);
  transform: rotate(-45deg);
}

.blobContainer::after {
  content: "";
  position: absolute;
  bottom: 5%;
  right: -10%;
  height: 40%;
  width: 30%;
  background-color: #fff;
  clip-path: ellipse(25% 40% at 50% 50%);
  transform: rotate(-32deg);
}

.blob {
  z-index: 1;
  position: absolute;
  bottom: -3vw;
  left: -6vw;
}

.page2Contents {
  z-index: 1;
  width: 100%;
  text-align: center;
  font-family: "Happiness-Sans-Title";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  color: rgb(193, 227, 255);
}

.page2Contents > p {
  margin-bottom: 5%;
}

@keyframes blob {
  from {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/*********** 3페이지 **********/
.page3 {
  width: 100%;
  height: 100%;
  padding: 10%;
  overflow: hidden;
}

.page3Contents {
  width: 100%;
  height: 40%;
  border: 1px rgb(19, 105, 139) solid;
  font-size: 1rem;
}

.cupContainer {
  position: relative;
  top: -40%;
  width: 50%;
  height: 100%;
  margin-right: 0;
  margin-left: auto;
  transform-origin: bottom left;
  /* border: 1px solid salmon; */
}

.cupContainerAnimation {
  animation: fallDown 1s 4s forwards;
}

.cup {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 35%;
  border: 2px solid rgb(156, 175, 205);
  border-radius: 15px 15px 32px 32px;
  overflow: hidden;
}

.cupAnimation {
  animation: cupShake 6s forwards ease-out;
}

.water {
  position: absolute;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200%;
  background: url(https://i.postimg.cc/CKwdBpjD/coffee-img-1.png);
  background-repeat: repeat-x;
  background-position: 0 60%;
  background-color: black;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  opacity: 0.5;
}

.waterAnimation {
  animation: water 5s forwards linear;
}

.waterAnimation2 {
  animation: water2 5s forwards linear;
}

.spil {
  opacity: 0;
  left: 0;
  bottom: 1%;
  width: 13%;
  height: 16%;
  background-color: #4384d9;
  position: absolute;
  /* clip-path: polygon(0 9%, 93% 50%, 100% 70%, 0 70%); */
  /* animation: spilOver 1s 5s forwards ease-out; */
}

.spilAnimation {
  animation: spilOver 1s 5s forwards ease-out;
}

@keyframes water {
  0% {
    background-position: 0 60%;
    transform: rotate(0);
  }
  25% {
    transform: rotate(0);
    background-position: 29.5% 55%;
  }
  50% {
    transform: rotate(0);
    background-position: 70% 35%;
  }
  70% {
    transform: rotate(45deg);
  }
  80% {
    transform: rotate(65deg);
    background-position: 100% 75%;
  }
  100% {
    background-position: 140% 60%;
    transform: rotate(90deg) translateY(50px);
  }
}

@keyframes water2 {
  0% {
    background-position: 0 60%;
    transform: rotate(0);
  }
  30% {
    transform: rotate(0);
    background-position: 29.5% 55%;
  }
  55% {
    transform: rotate(0);
    background-position: 70% 35%;
  }
  70% {
    transform: rotate(45deg);
  }
  80% {
    transform: rotate(65deg);
    background-position: 100% 75%;
  }
  100% {
    background-position: 140% 60%;
    transform: rotate(90deg) translateY(50px);
  }
}

@keyframes cupShake {
  0%,
  12%,
  24%,
  36% {
    transform-origin: bottom;
    transform: rotate(0);
  }
  6%,
  30% {
    transform-origin: bottom right;
    transform: rotate(5deg);
  }
  18%,
  42% {
    transform-origin: bottom left;
    transform: rotate(-5deg);
  }
  60% {
    transform-origin: bottom left;
    transform: rotate(-30deg) translate(-10px, 10px);
  }
  80%,
  100% {
    transform-origin: bottom left;
    transform: rotate(-45deg) translate(-10px, 10px);
  }
}

@keyframes fallDown {
  to {
    transform: rotate(-45deg);
  }
}

@keyframes spilOver {
  0% {
    opacity: 0;
    clip-path: polygon(93% 50%, 93% 50%, 100% 70%, 100% 70%);
    /* clip-path: polygon(100% 43%, 100% 43%, 100% 85%, 100% 85%); */
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    clip-path: polygon(0 50%, 93% 50%, 100% 70%, 0 70%);
    /* clip-path: polygon(0 44%, 100% 43%, 100% 85%, 0 70%); */
  }
}
