.container {
  left: calc(70% + 2.1vw);
}

.cover {
  background-color: #8f7bd2;
}

.leftSide {
  background-color: #8f7bd2;
}

.cover > span {
  color: #eddef5;
}

.cover span:first-child {
  top: 6vw;
  left: -2vw;
}

.cover span:last-child {
  border-top: solid 4px #c0b264;
}

.leftSide {
  color: #eddef5;
}
