* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: absolute;
  z-index: 1;
  perspective: 500rem;
  width: 70%;
  height: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow {
  position: absolute;
  top: -30%;
  left: -15%;
}

/* kopubWorld */
/* 책 표지 */
@font-face {
  font-family: "worldBold";
  src: url("./styles/font/KoPubWorld\ Batang_Pro\ Bold.otf");
}
@font-face {
  font-family: "worldMedium";
  src: url("./styles/font/KoPubWorld\ Batang_Pro\ Medium.otf");
}
@font-face {
  font-family: "worldLight";
  src: url("./styles/font/KoPubWorld\ Batang_Pro\ Light.otf");
}

/* 책 1페이지 제목1 */
@font-face {
  font-family: "Tenada";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 화살표 */
@font-face {
  font-family: "Happiness-Sans-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 기본 글씨체 */
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  font-family: "SUIT-Regular";
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsla(249, 100%, 80%, 1);
  background-image: radial-gradient(
      at 95% 40%,
      hsla(266, 54%, 83%, 1) 0px,
      transparent 50%
    ),
    /* 색상, 채도, 명도, 불투명도 지정 */
      radial-gradient(
        at 17% 19%,
        hsla(264, 47%, 65%, 0.85) 0px,
        transparent 50%
      ),
    radial-gradient(at 33% 89%, hsla(266, 89%, 88%, 1) 0px, transparent 50%),
    radial-gradient(at 12% 75%, hsla(19, 86%, 72%, 0.45) 0px, transparent 50%),
    radial-gradient(at 4% 34%, hsla(359, 79%, 84%, 0.81) 0px, transparent 50%),
    radial-gradient(at 58% 83%, hsla(240, 100%, 88%, 1) 0px, transparent 50%),
    radial-gradient(at 30% 65%, hsla(224, 75%, 74%, 1) 0px, transparent 50%);
}
