* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.container {
  position: absolute;
  z-index: 1;
  perspective: 500rem;
  width: 70%;
  height: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow {
  position: absolute;
  top: -30%;
  left: -15%;
}

/* kopubWorld */
@font-face {
  font-family: "worldBold";
  src: url("./styles/font/KoPubWorld\ Batang_Pro\ Bold.otf");
}
@font-face {
  font-family: "worldMedium";
  src: url("./styles/font/KoPubWorld\ Batang_Pro\ Medium.otf");
}
@font-face {
  font-family: "worldLight";
  src: url("./styles/font/KoPubWorld\ Batang_Pro\ Light.otf");
}

/* kopubDotum */
@font-face {
  font-family: "DotumBold";
  src: url("./styles/font/KoPubWorld\ Dotum_Pro\ Bold.otf");
}
@font-face {
  font-family: "DotumMedium";
  src: url("./styles/font/KoPubWorld\ Dotum_Pro\ Medium.otf");
}
@font-face {
  font-family: "DotumLight";
  src: url("./styles/font/KoPubWorld\ Dotum_Pro\ Light.otf");
}

body {
  font-family: "dream3";
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsla(249, 100%, 80%, 1);
  background-image: radial-gradient(
      at 95% 40%,
      hsla(266, 54%, 83%, 1) 0px,
      transparent 50%
    ),
    /* 색상, 채도, 명도, 불투명도 지정 */
      radial-gradient(
        at 17% 19%,
        hsla(264, 47%, 65%, 0.85) 0px,
        transparent 50%
      ),
    radial-gradient(at 33% 89%, hsla(266, 89%, 88%, 1) 0px, transparent 50%),
    radial-gradient(at 12% 75%, hsla(19, 86%, 72%, 0.45) 0px, transparent 50%),
    radial-gradient(at 4% 34%, hsla(359, 79%, 84%, 0.81) 0px, transparent 50%),
    radial-gradient(at 58% 83%, hsla(240, 100%, 88%, 1) 0px, transparent 50%),
    radial-gradient(at 30% 65%, hsla(224, 75%, 74%, 1) 0px, transparent 50%);
}
